In [5]:
v1 = 'HELLO wORLD'
v1.upper()

'HELLO WORLD'

In [6]:
v1 = 'HELLO wORLD'
v1.lower()

'hello world'

In [8]:
v1 = 'HELLO wORLD'
v1.title()

'Hello World'

In [11]:
v1 = 'HELLO world '
v2 = 'hi,there'
v1+v2

'HELLO world hi,there'

In [12]:
for cha in v1:
    print(cha)

H
E
L
L
O

w
o
r
l
d

In [18]:
v1 = 'hello world'
print(v1[9])

l

aschii values are there in strings 
strings aschii values converting to the numericals inside the stored values

In [57]:
vineeth = 'how to become a data scientist'#string

In [58]:
len(vineeth) #len of string

'How To Become A Data Scientist'

In [54]:
vineeth.lower() # lower case letters

'how to become a data scientist'

In [55]:
vineeth.upper() #upper case letters

'HOW TO BECOME A DATA SCIENTIST'

In [56]:
vineeth.title() #string converts to title

'How To Become A Data Scientist'

In [60]:
(vineeth[0:3])#slice with indexing number

'How'

In [64]:
vineeth

'How To Become A Data Scientist'

In [69]:
print(list(vineeth.split())) #converting to list of words by using split method

['How', 'To', 'Become', 'A', 'Data', 'Scientist']

In [78]:
new = 'and which type of books are refferred '

In [82]:
new_join = ','.join(new) #join function
new_join

'a,n,d, ,w,h,i,c,h, ,t,y,p,e, ,o,f, ,b,o,o,k,s, ,a,r,e, ,r,e,f,f,e,r,r,e,d, '

In [103]:
a = vineeth.startswith('H') #startwith function
a

True

In [109]:
b = vineeth.endswith('Scientist')
b

True

In [110]:
l = [1,2,3,4,5,6,7,8,9]
type(l)

list

In [113]:
t = tuple(l)
type(t)

tuple

In [114]:
tu = (1,2,3,4,5,6,7,8)
type(tu)

tuple

In [115]:
li = list(tu)
li

[1, 2, 3, 4, 5, 6, 7, 8]

In [116]:
se = {1,2,3,4,5,6,78,1,2,}
se

{1, 2, 3, 4, 5, 6, 78}

In [118]:
lis = list(se)
lis

[1, 2, 3, 4, 5, 6, 78]

In [126]:
l1= [1,2,3,5,5,5,65,5,8,5,2,8,4,5,4,5,6,7,8,9] 

l1
sel =set(l1)
sel

{1, 2, 3, 4, 5, 6, 7, 8, 9, 65}

# F string

In [127]:
a = 100
b= 200
c = 150
print(a,b,c)

100 200 150

In [128]:
print(a+b+c)

450

In [145]:
name = 'vineeth'
age = 20
add = ' {} {}'.format(name,age)

In [147]:
add

' vineeth 20'

In [153]:
person = {'name':'vineeth','age':24}
sentence = 'my name is {} and iam {} years old'.format(person["name"],person["age"])

In [154]:
sentence

'my name is vineeth and iam 24 years old'

In [159]:
person = {'name':'vineeth','age':24}

sentence = f"my name is {person['name']} and i am {person['age']} years old"

In [160]:
sentence

'my name is vineeth and i am 24 years old'

In [164]:
for i in range(1,11):
    sentence= f'the value is {i:03}'
    print(sentence)

the value is 001
the value is 002
the value is 003
the value is 004
the value is 005
the value is 006
the value is 007
the value is 008
the value is 009
the value is 010